* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #0A1429;
}

.dashboard {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar {
  width: 250px;
  height: 100%;
  background-color: #0A1429;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 10px;
  position: absolute;
}

.logo {
  width: 180px;
  height: auto;
  object-fit: contain;
  margin-bottom: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.menu-item {
  font-size: 18px;
  padding: 10px 15px;
  cursor: pointer;
  width: 100%;
  color: #fff;
  transition: color 0.3s ease;
  border-radius: 8px;
  display: block;
  position: relative;
}

.menu-item .menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item .arrow {
  margin-left: 8px;
  transition: transform 0.3s ease;
}

.submenu {
  display: none;
  flex-direction: column;
  padding-left: 20px;
  margin-top: 10px;
  width: 100%;
  position: relative;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.submenu.active {
  display: block;
  max-height: 500px;
  padding-top: 10px;
}

.submenu-item {
  padding: 8px 0;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.menu-item:hover,
.submenu-item:hover {
  color: #7C8BA6;
}

.menu-item:active,
.submenu-item:active {
  color: #7C8BA6;
}

.submenu.active {
  display: block;
}

.user-box {
    margin-top: auto;
    margin-left: 12.5%;
    width: 100%;
    background-color: #7C8BA6;
    border-radius: 16px;
    padding: 20px 10px;
    text-align: center;
    position: relative;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 6px;
}

.user-name {
  font-size: 14px;
  margin-bottom: 6px;
  color: #0A1429;
  font-weight: bold;
}

.logout-button {
  background-color: #1b2b48;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 6px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #405577;
}

.content-area {
  position: absolute;
  top: 20px;
  left: 270px;
  right: 20px;
  width: calc(100% - 270px - 20px);
  height: calc(100% - 40px);
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  overflow-y: auto; /* meglio mettere overflow-y */
  scroll-behavior: smooth; /* per scroll fluido */
  scroll-snap-type: y mandatory; /* per scroll “snap” */
}

.section {
  display: none;
  height: 100%;
  overflow: auto;
}

.section.active {
  display: block;
}

